In [1]:
import pandas as pd
import numpy as np
jee = pd.read_csv('JEE_Dropout_After_Class_12.csv', delimiter=',')

## Advanced Functionality

### .shift(1) can be used to fill in a column with data from another column but with a one place difference for better comparison
### can do percentage differences after that, usually better for revenue comparison between days, moneths or years

### .rank assigns ranks to the column specfiied and can be used for better sort_values() usage

In [2]:
jee_ranked = jee.copy()
jee_ranked['AIR'] = jee['jee_advanced_score'].rank(ascending=False, method="min")
jee_ranked.head()

,jee_main_score,jee_advanced_score,mock_test_score_avg,school_board,class_12_percent,attempt_count,coaching_institute,daily_study_hours,family_income,parent_education,location_type,peer_pressure_level,mental_health_issues,admission_taken,dropout,AIR
0,78.95,59.22,59.86,CBSE,70.09,1,FIITJEE,5.4,Low,Upto 10th,Urban,Low,No,No,1,3300.0
1,70.06,58.75,64.33,State,78.00,1,FIITJEE,5.5,Mid,Upto 10th,Urban,Low,Yes,No,0,3364.0
2,81.07,37.27,60.83,ICSE,64.36,1,FIITJEE,7.0,Low,PG,Semi-Urban,Medium,Yes,No,1,4815.0
3,93.32,60.72,69.33,ICSE,73.21,1,FIITJEE,2.1,Low,12th,Semi-Urban,Medium,Yes,Yes,0,3117.0
4,68.72,77.73,82.37,CBSE,89.02,1,Allen,6.3,Mid,Graduate,Semi-Urban,High,No,Yes,0,1148.0

In [3]:
jee_ranked = jee_ranked.sort_values('AIR').reset_index(drop=True)
jee_ranked.loc[85:95]["AIR"]

85     1.0
86     1.0
87     1.0
88    89.0
89    90.0
90    91.0
91    92.0
92    93.0
93    94.0
94    95.0
95    96.0
Name: AIR, dtype: float64

### drop=True prevents the old serial numbers to be added into the new serial numbered dataframe as a new column, so that it "drops" it

### cumsum() does cumulative sum and what it means is that in the case of revenue as the rows progresses the revenue gets added up subsequently

### .rolling() moves the operation by the number specified in the brackets, like sum, diff, etc