# Data Visualization using Pandas

## Importing the necessary libraries

In [2]:
import pandas as pd
import numpy as np

## Intro to Dataframes

In [5]:
df = pd.DataFrame([[1,2],[4,5],[6,7]])
df

   0  1
0  1  2
1  4  5
2  6  7

In [ ]:
df = pd.DataFrame([[1,2],[4,5],[6,7]], columns = ["A","B"])
df

   A  B
0  1  2
1  4  5

In [18]:
df = pd.DataFrame([[1,2],[4,5],[6,7]], columns = ["A","B"], index=["x","y","z"])
df

   A  B
x  1  2
y  4  5
z  6  7

In [19]:
df.columns

Index(['A', 'B'], dtype='object')

In [20]:
df.index

Index(['x', 'y', 'z'], dtype='object')

### **Indices are the rows and columns are columns**
#### You can use .tolist after index and columns to get it in list format

In [29]:
df.index.tolist()

['x', 'y', 'z']

In [28]:
df.columns.tolist()

['A', 'B']

In [23]:
df.head()

   A  B
x  1  2
y  4  5
z  6  7

In [45]:
df.tail()

   A  B
x  1  2
y  4  5
z  6  7

#### df.head() only gives the first 5 data rows and df.tail() gives the last 5

In [24]:
df.head(1)

   A  B
x  1  2

In [25]:
df.head(2)

   A  B
x  1  2
y  4  5

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
dtypes: int64(2)
memory usage: 72.0+ bytes

#### Gives information regarding the dataframe

In [30]:
df.describe()

              A         B
count  3.000000  3.000000
mean   3.666667  4.666667
std    2.516611  2.516611
min    1.000000  2.000000
25%    2.500000  3.500000
50%    4.000000  5.000000
75%    5.000000  6.000000
max    6.000000  7.000000

#### Gives meaningful information regarding the dataframe

In [31]:
df.nunique()

A    3
B    3
dtype: int64

#### Gives the number of non unique values in each row
#### can be specfically done on one row as well as shown

In [32]:
df['A'].nunique()

3

In [33]:
df['A'].unique()

array([1, 4, 6], dtype=int64)

In [35]:
df.shape

(3, 2)

#### Gives the shape of the dataframe

In [36]:
df.size

6

#### Total Number of spaces ( no. of rows multiplied by no. of columns)

## To import the dataset from the excel file to the dataframe from PANDAS

In [3]:
jee = pd.read_csv('JEE_Dropout_After_Class_12.csv', delimiter=',')
jee.head()

,jee_main_score,jee_advanced_score,mock_test_score_avg,school_board,class_12_percent,attempt_count,coaching_institute,daily_study_hours,family_income,parent_education,location_type,peer_pressure_level,mental_health_issues,admission_taken,dropout
0,78.95,59.22,59.86,CBSE,70.09,1,FIITJEE,5.4,Low,Upto 10th,Urban,Low,No,No,1
1,70.06,58.75,64.33,State,78.00,1,FIITJEE,5.5,Mid,Upto 10th,Urban,Low,Yes,No,0
2,81.07,37.27,60.83,ICSE,64.36,1,FIITJEE,7.0,Low,PG,Semi-Urban,Medium,Yes,No,1
3,93.32,60.72,69.33,ICSE,73.21,1,FIITJEE,2.1,Low,12th,Semi-Urban,Medium,Yes,Yes,0
4,68.72,77.73,82.37,CBSE,89.02,1,Allen,6.3,Mid,Graduate,Semi-Urban,High,No,Yes,0

#### pd.read_csv reads the csv file and enters it into a Dataframe called "df" and if it is a text file, instead of the delimiter being ',', you can put '\t'

In [82]:
jee.columns.tolist()

['jee_main_score',
 'jee_advanced_score',
 'mock_test_score_avg',
 'school_board',
 'class_12_percent',
 'attempt_count',
 'coaching_institute',
 'daily_study_hours',
 'family_income',
 'parent_education',
 'location_type',
 'peer_pressure_level',
 'mental_health_issues',
 'admission_taken',
 'dropout']

### code such as **jee.tocsv, jee.toparquet, jee.toexcel** will help us save the changes in the dataframe to the source file.

In [84]:
jee.sample(10)

,jee_main_score,jee_advanced_score,mock_test_score_avg,school_board,class_12_percent,attempt_count,coaching_institute,daily_study_hours,family_income,parent_education,location_type,peer_pressure_level,mental_health_issues,admission_taken,dropout
3347,94.27,71.06,61.02,CBSE,74.98,2,Allen,4.0,Low,Graduate,Rural,High,No,No,1
1933,70.52,65.85,78.88,CBSE,70.91,2,Local,1.9,Low,Graduate,Semi-Urban,Medium,No,Yes,0
1596,80.67,57.93,48.36,ICSE,63.45,2,FIITJEE,6.4,Low,12th,Urban,Medium,No,No,1
979,82.65,73.78,72.58,State,78.01,1,NaN,8.3,Low,PG,Semi-Urban,High,No,No,1
2446,76.12,78.42,58.50,ICSE,76.49,1,Local,4.1,Low,Graduate,Urban,High,Yes,Yes,0
767,96.79,64.72,86.95,ICSE,88.06,1,NaN,6.6,Mid,Upto 10th,Urban,High,Yes,No,0
3332,94.26,68.40,73.87,ICSE,72.48,1,NaN,0.4,High,12th,Urban,High,Yes,Yes,1
3323,75.61,92.26,68.22,State,61.38,2,Allen,4.4,Mid,Graduate,Semi-Urban,Medium,No,Yes,0
2565,66.29,38.46,62.78,ICSE,72.72,1,Allen,3.8,High,12th,Rural,High,Yes,Yes,0
2158,89.94,52.33,60.09,State,86.89,1,NaN,5.9,Low,12th,Rural,Medium,Yes,No,1

#### .sample picks the required amount of rows from the dataframe. In the parameters, random_state="" helps act like a seed to lock in a selection of random picks

## loc and iloc

### The only difference between '.loc' and '.iloc' (Integer loc, only integers allowed) is that loc can hold the column names while iloc will only allow the index and column numbers to be used to select data
### **Another difference is that in '.loc', the upper limit is also included in the data while in '.iloc', it is not shown**

In [85]:
jee.loc[0]

jee_main_score              78.95
jee_advanced_score          59.22
mock_test_score_avg         59.86
school_board                 CBSE
class_12_percent            70.09
attempt_count                   1
coaching_institute        FIITJEE
daily_study_hours             5.4
family_income                 Low
parent_education        Upto 10th
location_type               Urban
peer_pressure_level           Low
mental_health_issues           No
admission_taken                No
dropout                         1
Name: 0, dtype: object

In [86]:
jee.loc[0:3]

,jee_main_score,jee_advanced_score,mock_test_score_avg,school_board,class_12_percent,attempt_count,coaching_institute,daily_study_hours,family_income,parent_education,location_type,peer_pressure_level,mental_health_issues,admission_taken,dropout
0,78.95,59.22,59.86,CBSE,70.09,1,FIITJEE,5.4,Low,Upto 10th,Urban,Low,No,No,1
1,70.06,58.75,64.33,State,78.00,1,FIITJEE,5.5,Mid,Upto 10th,Urban,Low,Yes,No,0
2,81.07,37.27,60.83,ICSE,64.36,1,FIITJEE,7.0,Low,PG,Semi-Urban,Medium,Yes,No,1
3,93.32,60.72,69.33,ICSE,73.21,1,FIITJEE,2.1,Low,12th,Semi-Urban,Medium,Yes,Yes,0

In [87]:
jee.loc[0:3,["jee_main_score","attempt_count"]]

   jee_main_score  attempt_count
0           78.95              1
1           70.06              1
2           81.07              1
3           93.32              1

In [88]:
jee.iloc[5:]

,jee_main_score,jee_advanced_score,mock_test_score_avg,school_board,class_12_percent,attempt_count,coaching_institute,daily_study_hours,family_income,parent_education,location_type,peer_pressure_level,mental_health_issues,admission_taken,dropout
5,68.72,45.61,58.75,State,79.28,1,Local,4.5,Mid,Graduate,Semi-Urban,Low,No,Yes,0
6,94.11,82.78,80.01,CBSE,76.31,1,Local,3.7,Mid,Upto 10th,Semi-Urban,Medium,No,Yes,0
7,82.74,73.80,58.62,CBSE,77.15,1,NaN,2.2,High,12th,Urban,Low,No,Yes,0
8,65.43,54.25,57.83,ICSE,71.11,1,Local,5.7,Mid,Upto 10th,Semi-Urban,Low,No,Yes,0
9,79.60,63.74,77.82,State,94.96,2,NaN,2.7,Mid,12th,Rural,High,Yes,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,71.31,86.82,57.08,State,84.45,1,FIITJEE,4.7,High,PG,Semi-Urban,High,Yes,Yes,0
4996,81.96,34.03,82.85,CBSE,73.02,2,Local,4.7,Mid,PG,Urban,High,Yes,Yes,0
4997,100.00,54.71,83.75,CBSE,77.87,2,NaN,6.3,Mid,PG,Semi-Urban,Medium,Yes,Yes,0
4998,83.31,73.93,57.39,CBSE,62.25,1,Allen,4.0,High,Upto 10th,Urban,Low,No,Yes,0
4999,60.13,76.31,66.15,State,94.90,2,FIITJEE,2.1,Mid,12th,Urban,Low,Yes,No,0

In [89]:
jee.iloc[0]

jee_main_score              78.95
jee_advanced_score          59.22
mock_test_score_avg         59.86
school_board                 CBSE
class_12_percent            70.09
attempt_count                   1
coaching_institute        FIITJEE
daily_study_hours             5.4
family_income                 Low
parent_education        Upto 10th
location_type               Urban
peer_pressure_level           Low
mental_health_issues           No
admission_taken                No
dropout                         1
Name: 0, dtype: object

In [90]:
jee.iloc[0:3]

,jee_main_score,jee_advanced_score,mock_test_score_avg,school_board,class_12_percent,attempt_count,coaching_institute,daily_study_hours,family_income,parent_education,location_type,peer_pressure_level,mental_health_issues,admission_taken,dropout
0,78.95,59.22,59.86,CBSE,70.09,1,FIITJEE,5.4,Low,Upto 10th,Urban,Low,No,No,1
1,70.06,58.75,64.33,State,78.00,1,FIITJEE,5.5,Mid,Upto 10th,Urban,Low,Yes,No,0
2,81.07,37.27,60.83,ICSE,64.36,1,FIITJEE,7.0,Low,PG,Semi-Urban,Medium,Yes,No,1

In [91]:
jee.iloc[0:2,["jee_main_score"]]

IndexError: .iloc requires numeric indexers, got ['jee_main_score']

In [126]:
jee.index=jee["school_board"]
jee

,jee_main_score,jee_advanced_score,mock_test_score_avg,school_board,class_12_percent,attempt_count,coaching_institute,daily_study_hours,family_income,parent_education,location_type,peer_pressure_level,mental_health_issues,admission_taken,dropout
school_board,,,,,,,,,,,,,,,
CBSE,78.95,59.22,59.86,CBSE,70.09,1,FIITJEE,5.4,Low,Upto 10th,Urban,Low,No,No,1
State,70.06,58.75,64.33,State,78.00,1,FIITJEE,5.5,Mid,Upto 10th,Urban,Low,Yes,No,0
ICSE,81.07,37.27,60.83,ICSE,64.36,1,FIITJEE,7.0,Low,PG,Semi-Urban,Medium,Yes,No,1
ICSE,93.32,60.72,69.33,ICSE,73.21,1,FIITJEE,2.1,Low,12th,Semi-Urban,Medium,Yes,Yes,0
CBSE,68.72,77.73,82.37,CBSE,89.02,1,Allen,6.3,Mid,Graduate,Semi-Urban,High,No,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
State,71.31,86.82,57.08,State,84.45,1,FIITJEE,4.7,High,PG,Semi-Urban,High,Yes,Yes,0
CBSE,81.96,34.03,82.85,CBSE,73.02,2,Local,4.7,Mid,PG,Urban,High,Yes,Yes,0
CBSE,100.00,54.71,83.75,CBSE,77.87,2,NaN,6.3,Mid,PG,Semi-Urban,Medium,Yes,Yes,0
CBSE,83.31,73.93,57.39,CBSE,62.25,1,Allen,4.0,High,Upto 10th,Urban,Low,No,Yes,0
State,60.13,76.31,66.15,State,94.90,2,FIITJEE,2.1,Mid,12th,Urban,Low,Yes,No,0

### The Serial Numbers have been replaced with the curriculum board

In [127]:
jee.loc[["CBSE","ICSE","State"],"jee_main_score"]

school_board
CBSE      78.95
CBSE      68.72
CBSE      94.11
CBSE      82.74
CBSE      65.51
          ...
State    100.00
State     70.39
State     62.80
State     71.31
State     60.13
Name: jee_main_score, Length: 5000, dtype: float64

In [128]:
jee.loc[["CBSE","ICSE","State"],"jee_main_score"].iloc[0:8]

school_board
CBSE    78.95
CBSE    68.72
CBSE    94.11
CBSE    82.74
CBSE    65.51
CBSE    75.39
CBSE    64.13
CBSE    52.23
Name: jee_main_score, dtype: float64

In [142]:
jee.reset_index(drop=True, inplace=True)
jee

,jee_main_score,jee_advanced_score,mock_test_score_avg,school_board,class_12_percent,attempt_count,coaching_institute,daily_study_hours,family_income,parent_education,location_type,peer_pressure_level,mental_health_issues,admission_taken,dropout
0,78.95,59.22,59.86,CBSE,70.09,1,FIITJEE,5.4,Low,Upto 10th,Urban,Low,No,No,1
1,70.06,58.75,64.33,State,78.00,1,FIITJEE,5.5,Mid,Upto 10th,Urban,Low,Yes,No,0
2,81.07,37.27,60.83,ICSE,64.36,1,FIITJEE,7.0,Low,PG,Semi-Urban,Medium,Yes,No,1
3,93.32,60.72,69.33,ICSE,73.21,1,FIITJEE,2.1,Low,12th,Semi-Urban,Medium,Yes,Yes,0
4,68.72,77.73,82.37,CBSE,89.02,1,Allen,6.3,Mid,Graduate,Semi-Urban,High,No,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,71.31,86.82,57.08,State,84.45,1,FIITJEE,4.7,High,PG,Semi-Urban,High,Yes,Yes,0
4996,81.96,34.03,82.85,CBSE,73.02,2,Local,4.7,Mid,PG,Urban,High,Yes,Yes,0
4997,100.00,54.71,83.75,CBSE,77.87,2,NaN,6.3,Mid,PG,Semi-Urban,Medium,Yes,Yes,0
4998,83.31,73.93,57.39,CBSE,62.25,1,Allen,4.0,High,Upto 10th,Urban,Low,No,Yes,0
4999,60.13,76.31,66.15,State,94.90,2,FIITJEE,2.1,Mid,12th,Urban,Low,Yes,No,0

In [130]:
jee.groupby("school_board").first().loc[["CBSE", "ICSE", "State"], "jee_main_score"]

school_board
CBSE     78.95
ICSE     81.07
State    70.06
Name: jee_main_score, dtype: float64

### Picks the first among the three curricula and displays the intended column

In [138]:
jee.groupby("school_board").apply(lambda x: x.sample(1))[["school_board", "jee_main_score"]].reset_index(drop=True)

  school_board  jee_main_score
0         CBSE           82.29
1         ICSE           45.73
2        State           55.23

##### Upgraded version of the previous one
### Picks a random one among the three curricula and displays the intended column

## What if we want to change a value somewhere in the dataframe?

In [143]:
jee

,jee_main_score,jee_advanced_score,mock_test_score_avg,school_board,class_12_percent,attempt_count,coaching_institute,daily_study_hours,family_income,parent_education,location_type,peer_pressure_level,mental_health_issues,admission_taken,dropout
0,78.95,59.22,59.86,CBSE,70.09,1,FIITJEE,5.4,Low,Upto 10th,Urban,Low,No,No,1
1,70.06,58.75,64.33,State,78.00,1,FIITJEE,5.5,Mid,Upto 10th,Urban,Low,Yes,No,0
2,81.07,37.27,60.83,ICSE,64.36,1,FIITJEE,7.0,Low,PG,Semi-Urban,Medium,Yes,No,1
3,93.32,60.72,69.33,ICSE,73.21,1,FIITJEE,2.1,Low,12th,Semi-Urban,Medium,Yes,Yes,0
4,68.72,77.73,82.37,CBSE,89.02,1,Allen,6.3,Mid,Graduate,Semi-Urban,High,No,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,71.31,86.82,57.08,State,84.45,1,FIITJEE,4.7,High,PG,Semi-Urban,High,Yes,Yes,0
4996,81.96,34.03,82.85,CBSE,73.02,2,Local,4.7,Mid,PG,Urban,High,Yes,Yes,0
4997,100.00,54.71,83.75,CBSE,77.87,2,NaN,6.3,Mid,PG,Semi-Urban,Medium,Yes,Yes,0
4998,83.31,73.93,57.39,CBSE,62.25,1,Allen,4.0,High,Upto 10th,Urban,Low,No,Yes,0
4999,60.13,76.31,66.15,State,94.90,2,FIITJEE,2.1,Mid,12th,Urban,Low,Yes,No,0

In [144]:
jee.loc[1,"jee_main_score"] = 80
jee

,jee_main_score,jee_advanced_score,mock_test_score_avg,school_board,class_12_percent,attempt_count,coaching_institute,daily_study_hours,family_income,parent_education,location_type,peer_pressure_level,mental_health_issues,admission_taken,dropout
0,78.95,59.22,59.86,CBSE,70.09,1,FIITJEE,5.4,Low,Upto 10th,Urban,Low,No,No,1
1,80.00,58.75,64.33,State,78.00,1,FIITJEE,5.5,Mid,Upto 10th,Urban,Low,Yes,No,0
2,81.07,37.27,60.83,ICSE,64.36,1,FIITJEE,7.0,Low,PG,Semi-Urban,Medium,Yes,No,1
3,93.32,60.72,69.33,ICSE,73.21,1,FIITJEE,2.1,Low,12th,Semi-Urban,Medium,Yes,Yes,0
4,68.72,77.73,82.37,CBSE,89.02,1,Allen,6.3,Mid,Graduate,Semi-Urban,High,No,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,71.31,86.82,57.08,State,84.45,1,FIITJEE,4.7,High,PG,Semi-Urban,High,Yes,Yes,0
4996,81.96,34.03,82.85,CBSE,73.02,2,Local,4.7,Mid,PG,Urban,High,Yes,Yes,0
4997,100.00,54.71,83.75,CBSE,77.87,2,NaN,6.3,Mid,PG,Semi-Urban,Medium,Yes,Yes,0
4998,83.31,73.93,57.39,CBSE,62.25,1,Allen,4.0,High,Upto 10th,Urban,Low,No,Yes,0
4999,60.13,76.31,66.15,State,94.90,2,FIITJEE,2.1,Mid,12th,Urban,Low,Yes,No,0

#### You can see the change in the 1st row under the "JEE_MAIN_SCORE" column
#### this can be done with multiple values as well (lets change the first three curricula to State)

In [146]:
jee.loc[0:3,"school_board"] = "State"
jee

,jee_main_score,jee_advanced_score,mock_test_score_avg,school_board,class_12_percent,attempt_count,coaching_institute,daily_study_hours,family_income,parent_education,location_type,peer_pressure_level,mental_health_issues,admission_taken,dropout
0,78.95,59.22,59.86,State,70.09,1,FIITJEE,5.4,Low,Upto 10th,Urban,Low,No,No,1
1,80.00,58.75,64.33,State,78.00,1,FIITJEE,5.5,Mid,Upto 10th,Urban,Low,Yes,No,0
2,81.07,37.27,60.83,State,64.36,1,FIITJEE,7.0,Low,PG,Semi-Urban,Medium,Yes,No,1
3,93.32,60.72,69.33,State,73.21,1,FIITJEE,2.1,Low,12th,Semi-Urban,Medium,Yes,Yes,0
4,68.72,77.73,82.37,CBSE,89.02,1,Allen,6.3,Mid,Graduate,Semi-Urban,High,No,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,71.31,86.82,57.08,State,84.45,1,FIITJEE,4.7,High,PG,Semi-Urban,High,Yes,Yes,0
4996,81.96,34.03,82.85,CBSE,73.02,2,Local,4.7,Mid,PG,Urban,High,Yes,Yes,0
4997,100.00,54.71,83.75,CBSE,77.87,2,NaN,6.3,Mid,PG,Semi-Urban,Medium,Yes,Yes,0
4998,83.31,73.93,57.39,CBSE,62.25,1,Allen,4.0,High,Upto 10th,Urban,Low,No,Yes,0
4999,60.13,76.31,66.15,State,94.90,2,FIITJEE,2.1,Mid,12th,Urban,Low,Yes,No,0

## .iat and .at

In [147]:
jee.at[0,"school_board"]

'State'

In [150]:
jee.iat[0,3]

'State'

#### here you can see that through '.at' and '.iat' (Integer at, only integers allowed), we were able to select the same thing. This can also be done using loc and iloc

In [151]:
jee.loc[0,"school_board"]

'State'

In [153]:
jee.iloc[0,3]

'State'

## Accessing Data

In [4]:
jee["jee_advanced_score"]

0       59.22
1       58.75
2       37.27
3       60.72
4       77.73
        ...
4995    86.82
4996    34.03
4997    54.71
4998    73.93
4999    76.31
Name: jee_advanced_score, Length: 5000, dtype: float64

In [5]:
jee.school_board

0        CBSE
1       State
2        ICSE
3        ICSE
4        CBSE
        ...
4995    State
4996     CBSE
4997     CBSE
4998     CBSE
4999    State
Name: school_board, Length: 5000, dtype: object

In [10]:
jee.sort_values(["jee_main_score","jee_advanced_score"], ascending=False).loc[0:,["coaching_institute","school_board","mental_health_issues","jee_main_score","jee_advanced_score"]]

,coaching_institute,school_board,mental_health_issues,jee_main_score,jee_advanced_score
0,FIITJEE,CBSE,No,78.95,59.22
1113,FIITJEE,State,No,78.94,52.03
4741,Allen,State,Yes,78.94,47.36
4312,FIITJEE,ICSE,Yes,78.93,83.25
4206,Local,CBSE,No,78.92,82.84
...,...,...,...,...,...
4198,Allen,CBSE,Yes,29.89,26.20
2024,Local,ICSE,No,29.73,84.20
4725,Local,ICSE,No,27.61,61.21
4779,FIITJEE,ICSE,Yes,27.53,71.90
262,Allen,State,Yes,26.62,70.36

#### It first sorts according to jee_main_score, and if there are values that are the same, it sorts according to jee_advanced_score

In [13]:
jee[jee.isnull().any(axis=1)]

,jee_main_score,jee_advanced_score,mock_test_score_avg,school_board,class_12_percent,attempt_count,coaching_institute,daily_study_hours,family_income,parent_education,location_type,peer_pressure_level,mental_health_issues,admission_taken,dropout
7,82.74,73.80,58.62,CBSE,77.15,1,NaN,2.2,High,12th,Urban,Low,No,Yes,0
9,79.60,63.74,77.82,State,94.96,2,NaN,2.7,Mid,12th,Rural,High,Yes,No,0
10,65.51,91.57,79.06,CBSE,66.88,1,NaN,5.5,Mid,Graduate,Urban,Low,No,Yes,0
15,64.13,57.81,68.50,CBSE,74.68,2,NaN,6.0,High,Graduate,Semi-Urban,Low,No,No,0
17,76.40,98.67,73.50,State,78.29,1,NaN,4.0,High,PG,Rural,High,Yes,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4973,42.80,75.66,64.51,CBSE,78.95,2,NaN,4.8,High,PG,Urban,Medium,No,Yes,0
4975,52.77,57.33,63.99,CBSE,68.00,2,NaN,3.6,Mid,Upto 10th,Urban,Low,Yes,Yes,0
4980,55.23,58.87,53.67,State,88.74,1,NaN,4.7,Mid,12th,Semi-Urban,Low,Yes,No,0
4994,62.80,85.11,64.35,State,89.05,1,NaN,0.6,High,12th,Semi-Urban,High,Yes,Yes,1
4997,100.00,54.71,83.75,CBSE,77.87,2,NaN,6.3,Mid,PG,Semi-Urban,Medium,Yes,Yes,0

### This prints the rows that have NaN anywhere in the row